<link rel="stylesheet" href="../css/dragAndDrop.css">
<div class="createNewTemplate">
    <div class="content" ondrop="drop()" ondragover="dragOver()">

    </div>
    <div class="tool-bar">
        <div class="component-tools" id="drag1" data-type="div" draggable="true" ondragstart="drag()">
            <span>Div</span>
        </div>
        <div class="component-tools" data-type="div" draggable="true">
            <span>Div</span>
        </div>
        <div class="component-tools" data-type="div" draggable="true">
            <span>Div</span>
        </div>
        <div class="component-tools" data-type="div" draggable="true">
            <span>Div</span>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/dragAndDrop.js"></script>