<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="section-container slider-section">
                <div class="section-header">section 1</div>
                <div class="section-content">
                    <div class="slider-container">
                        <div class="slider-arrow slider-arrow-left">
                        </div>
                        <div class="slider-content">
                            <div class="slider-item">
                                <div class="slider-item-header">Project Beta</div>
                                <div class="slider-item-content">
                                    <div class="temp">
                                        <span class="count">6</span>
                                        <span class="description">connections</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-item-header">Project Alpha</div>
                                <div class="slider-item-content">
                                    <div class="temp">
                                        <span class="count">12</span>
                                        <span class="description">connections</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-item-header">21312</div>
                                <div class="slider-item-content">
                                    <div class="temp">
                                        dass
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-item-header">21312</div>
                                <div class="slider-item-content">
                                    <div class="temp">
                                        dass
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-item-header">21312</div>
                                <div class="slider-item-content">
                                    <div class="temp">
                                        dass
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-arrow slider-arrow-right"></div>
                        <div class="slider-option">
                            <div class="slider-option-btn" id="slider-add">a</div>
                            <div class="slider-option-btn" id="slider-search">s</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="section-container list-section">
                <div class="section-header">
                    section 1
                    <div class="section-header-icon" id="add-list"></div>
                </div>
                <div class="section-content">
                    <ul class="list" id="list">
                        <li class="section-list"><span class="list-name">list name</span>
                            <div class="list-icon"></div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-sm-8">
            <div class="section-container table-section">
                <div class="section-header">
                    section 1
                    <div class="section-header-icon"></div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="tag">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Id</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>test</td>
                                        <td>00295456</td>
                                        <td>pwcwelcome</td>
                                    </tr>
                                    <tr>
                                        <td>temp</td>
                                        <td>12345678</td>
                                        <td>qwedfzxc</td>
                                    </tr>
                                    <tr>
                                        <td>cpmst</td>
                                        <td>12310987</td>
                                        <td>qazwsxedc</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="qaz">
                                <div class="asd"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-container" id="add-popup-container">
    <div class="popup">
        <div class="popup-header">
            header
        </div>
        <div class="popup-body">
            <div class="row">
                <div class="col-sm-6">
                    <p class="popup-input-label" for="input-1">Label1:</p>
                    <input id="input-1">
                </div>
                <div class="col-sm-6">
                    <p class="popup-input-label" for="input-2">Label2:</p>
                    <input id="input-2">
                </div>
                <div class="col-sm-6">
                    <p class="popup-input-label" for="input-3">Label3:</p>
                    <input id="input-3">
                </div>
                <div class="col-sm-6">
                    <p class="popup-input-label" for="input-4">Label4:</p>
                    <input id="input-4">
                </div>
                <div class="col-sm-6">
                    <p class="popup-input-label" for="input-5">Label5:</p>
                    <input id="input-5">
                </div>
                <div class="col-sm-6">
                    <p class="popup-input-label" for="input-6">Label6:</p>
                    <input type="text" id="input-6">
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <button class="popup-btn-add">add</button>
            <button class="popup-btn-cancel">cancel</button>
        </div>
    </div>
</div>
<div class="popup-container" id="search-popup-container">
    <div class="popup">
        <div class="popup-header">
            Search
        </div>
        <div class="popup-body">
            <input type="search" placeholder="Search">
        </div>
        <div class="popup-footer">
            <button class="popup-btn-search">search</button>
            <button class="popup-btn-cancel">cancel</button>
        </div>
    </div>
</div>
<div class="popup-container" id="third-popup-container">
    <div class="popup">
        <div class="popup-header">
            header
        </div>
        <div class="popup-body">
            dassd
        </div>
        <div class="popup-footer">
            <button class="popup-btn-add">add</button>
            <button class="popup-btn-cancel">cancel</button>
        </div>
    </div>
</div>

<div class="popup-container" id="confirm-popup-container">
    <div class="popup">
        <div class="popup-header">
            Confirm:
        </div>
        <div class="popup-body">
            Are you confirmed to delete this item ?
        </div>
        <div class="popup-footer">
            <button class="popup-btn-confirm">Confirm</button>
            <button class="popup-btn-cancel">Cancel</button>
        </div>
    </div>
</div>