<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="title-section">
                <h1>
                    <label>Application Name:</label>
                    <span >dwdwd</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="section-container list-section">
                <div class="section-header">
                    section 1
                    <div class="section-header-icon" id="add-list"></div>
                </div>
                <div class="section-content">
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="section-container table-section">
                <div class="section-header">
                    section 1
                    <div class="section-header-icon"></div>
                </div>
                <div class="section-content">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="section-container list-section">
                <div class="section-header">
                    section 1
                    <div class="section-header-icon" id="add-list"></div>
                </div>
                <div class="section-content">
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="section-container table-section">
                <div class="section-header">
                    section 1
                    <div class="section-header-icon"></div>
                </div>
                <div class="section-content">
                </div>
            </div>
        </div>
    </div>
</div>